{%extends 'land/base.html'%}
{% load crispy_forms_tags %}


{%block content%}
<div class="container">
	<div class="row  mt-5">
		<div class="col-md-5 col-sm-6 ">
			<a href="{%url 'profile' object.pk%}" class="btn btn-info post-text">Back To My Profile</a>
		</div>
	</div>

	<div class="row justify-content-center mt-5 post-text">
		<div class="col-md-5 col-sm-12 ">
			<h5 class="htext"> Want To Update your Profile?</h5>
			<h3> Lets Do It!</h3>

		</div>
	</div>

	<div class="row justify-content-center mt-3 mb-5 post-text">
		<div class="col-md-5 col-sm-12 border bottom">

			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{form | crispy}}
				<div class="d-grid gap-2">
				<button class="btn btn-info mt-3 post-text"> Update Now</button>
				</div>
			</form>
		</div>
	</div>
</div>


{%endblock content%}