<div class="dropdown">
	<span class="badge bg-primary notification-badge" onclick="showNotifications()">{{ notifications.count }}</span>
	<div class="dropdown-content d-none" id="notification-container">
		{% for notification in notifications %}
			{% if notification.post %}
				{% if notification.notification_type == 1 %}
				<div class="dropdown-item-parent">
					<a href="{% url 'postnotification' notification.pk notification.post.pk %}">@{{ notification.fromuser }} liked your post {{notification.date.second}}s   ago</a>
					<span class="dropdown-item-close" onclick="deleteNotification(`{% url 'deletenotification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
				{% elif notification.notification_type == 2 %}
				<div class="dropdown-item-parent">
					<a href="{% url 'postnotification' notification.pk notification.post.pk %}">@{{ notification.fromuser }} commented on your post {{notification.date.second}}s   ago</a>
					<span class="dropdown-item-close" onclick="deleteNotification(`{% url 'deletenotification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
				{% endif %}
			{% elif notification.comment %}
				{% if notification.notification_type == 1 %}
				<div class="dropdown-item-parent">
					<a href="{% url 'postnotification' notification.pk notification.comment.post.pk %}">@{{ notification.fromuser }} liked your comment {{notification.date.second}}s   ago </a>
					<span class="dropdown-item-close" onclick="deleteNotification(`{% url 'deletenotification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
				{% elif notification.notification_type == 2 %}
				<div class="dropdown-item-parent">
					<a href="{% url 'postnotification' notification.pk notification.comment.post.pk %}">@{{ notification.fromuser }} replied to your comment {{notification.date.second}}s   ago</a>
					<span class="dropdown-item-close" onclick="deleteNotification(`{% url 'deletenotification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
				{% endif %}
			{% else %}
			<div class="dropdown-item-parent">
					<a href="{% url 'follownotification' notification.pk notification.from_user.profile.pk %}">@{{ notification.fromuser }} has started following you {{notification.date.second}}s   ago</a>
					<span class="dropdown-item-close" onclick="deleteNotification(`{% url 'deletenotification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>