{% extends 'land/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container ">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'postlist' %}" class="btn btn-info post-text">Back To Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
                <div>
                    <a href="{% url 'profile' post.createduser.profile.pk %}">
                        <img class="round-circle post-img" height="30" width="30" src="{{ post.createduser.profile.profilepicture.url }}" />
                    </a>
                    <p class="post-text">
                        <a class="text-primary post-link" href="{% url 'profile' post.createduser.profile.pk %}">@{{ post.createduser }}</a> {{ post.createdon }}
                    </p>
                </div>
                {% if request.user == post.createduser %}
                    <a href="{% url 'editpost' post.pk %}" class="edit-color"><i class="far fa-edit"></i></a>
                    <a href="{% url 'deletepost' post.pk %}" class="edit-color"><i class="fas fa-trash"></i></a>
                {% endif %}
            <p class="post-text">{{ post.bodyofpost }}</p>

            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'likes' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                    </button>
                </form>

                <form method="POST" action="{% url 'dislikes' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                    </button>
                </form>
        </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5 post-text">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-info mt-3">Post Now!</button>
                </div>
            </form>
        </div>
    </div>
    {% for comment in comments %}

    {% if comment.is_parent %}
    <div class="row justify-content-center mt-3 mb-5 post-text">
        <div class="col-md-5 col-sm-12 border-bottom">
            <p>
                <div>
                    <a href="{% url 'profile' comment.createduser.profile.pk %}">
                        <img class="round-circle post-img" height="30" width="30" src="{{ comment.createduser.profile.profilepicture.url }}" />
                    </a>
                    <p style="font-family: garamond">
                        <a class="text-primary post-link" href="{% url 'profile' comment.createduser.profile.pk %}">@{{ comment.createduser }}</a><br> {{ comment.createdon }}
                    </p>
                </div>
                {% if request.user == comment.createduser %}
                    <a href="{% url 'deletecomment' post.pk comment.pk %}" class="edit-color"><i class="fas fa-trash"></i></a>
                {% endif %}
            </p>
            <p>{{ comment.comment }}</p>

            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'commentlikes' post.pk comment.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-up"> <span>{{ comment.likes.all.count }}</span></i>
                    </button>
                </form>

                <form method="POST" action="{% url 'commentdislikes' post.pk comment.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-down"> <span>{{ comment.dislikes.all.count }}</span></i>
                    </button>
                </form>
                <div>
                    <button class="remove-default-btn"><i class="far fa-comment-dots" onclick="commentReplyToggle('{{ comment.pk }}')"></i></button>
                </div>
        </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5 d-none post-text" id="{{ comment.pk }}" >
        <div class="col-md-5 col-sm-12">
            <form method="POST" action="{% url 'commentreply' post.pk comment.pk %}">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Comment Now!</button>
                </div>
            </form>
        </div>
    </div>

    {% for child_comment in comment.children %}
    <div class="row justify-content-center mt-3 mb-5 child-comment post-text " >
        <div class="col-md-5 col-sm-12 border-bottom">
            <p>
                <div>
                    <a href="{% url 'profile' child_comment.createduser.profile.pk %}">
                        <img class="round-circle post-img" height="30" width="30" src="{{ child_comment.createduser.profile.profilepicture.url }}" />
                    </a>
                    <p style="font-family: garamond">
                        <a class="text-primary post-link"  href="{% url 'profile' child_comment.createduser.profile.pk %}" >@{{ child_comment.createduser }}</a> <br>{{ child_comment.createdon }}
                    </p>
                </div>
                {% if request.user == child_comment.createduser %}
                    <a href="{% url 'deletecomment' post.pk child_comment.pk %}" class="edit-color"><i class="fas fa-trash"></i></a>
                {% endif %}
            </p>
            <p>{{ child_comment.comment }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>


{% endblock content %}
