
{% extends 'land/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'postlist' %}" class="btn btn-info">Back to Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <div class="text-center">
            <img src="{{ profile.profilepicture.url }}" class="rounded-circle" width="100" height="100" />
            {% if profile.name %}
            <h3  class="py-4 post-text">{{ profile.name }}
                <span>
                    {% if request.user == user %}
                        <a href="{% url 'editprofile' profile.pk %}" class="edit-color"><i class="far fa-edit"></i></a>
                    {% endif %}
                </span>
                {% else %}
                <h3 class="py-4 post-text">{{ user.username }}
                    <span>
                        {% if request.user == user %}
                            <a href="{% url 'editprofile' profile.pk %}" class="edit-color"><i class="far fa-edit"></i></a>
                        {% endif %}
                    </span>
                </h3>
                {% endif %}
            </h3>
        </div>

        {% if profile.bio %}
        <p class="post-text";><em>Bio: {{ profile.bio }}</em></p>
        {% endif %}

        <div class="mb-3">
            <a type="button" class="btn btn-outline-info" role="button" href="{% url 'followerslist' profile.pk %}" class="post-link post-text">Followers: {{ numberoffollowers }}</a><br>
            
            
                
        </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 py-3 post-text">
            {% if profile.urllink %}
            <p>Link: {{ profile.urllink }}</p>
            {% endif %}

            {% if profile.location %}
            <p>Location: {{ profile.location }}</p>
            {% endif %}

            {% if profile.birthday %}
            <p>Birthday: {{ profile.birthday }}</p>
            {% endif %}

            {% if user == request.user %}
                {% else %}
                {% if is_following %}
                    <form method="POST" action="{% url 'removefollowers' profile.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger post-text" type="submit">Unfollow</button>
                    </form>
                    {% else %}
                    <form method="POST" action="{% url 'addfollowers' profile.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-info post-text" type="submit">Follow</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% for post in posts %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 border-bottom">
            <div>
                <a href="{% url 'profile' post.createduser.profile.pk %}">
                    <img class="round-circle post-img" height="30" width="30" src="{{ post.createduser.profile.profilepicture.url }}" />
                </a>
                <p style="font-family: garamond">
                    <a class="text-primary post-link" href="{% url 'profile' post.createduser.profile.pk %}">@{{ post.createduser }}</a> <br >{{ post.createdon }}
                </p>
            </div>
            <div class="position-relative">
                {% if post.image %}
                  <img src="{{ post.image.url }}" class="post-image" />
                {%endif%} 
                <p class="post-text">{{ post.bodyofpost }}</p>
                <a href="{% url 'postcontent' post.pk %}" class="stretched-link"></a>
            </div>


            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'likes' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                        </button>
                </form>

                <form method="POST" action="{% url 'dislikes' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                            <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

